<div class="short_url">
<h1>Great! Your URL is Short NOW</h1>
<h3>Just Copy the LINK BELOW and <strong>paste it</strong> in your browser</h3>

<p id="short_url_info">localhost:3000/<%= @save_url_short %></p>

<p>
This is your Original URL:
<h4><strong><%= @save_url_long %></strong></h4>
</p>
  </div>
